/* General Styles */
.login-page,
.signup-page {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.login-left,
.signup-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.login-right,
.signup-right {
    flex: 1;
    overflow: hidden;
}

.login-image,
.signup-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Auth Container Styles (Shared) */
.auth-container {
    width: 90%;
    max-width: 400px;
    padding: 2.5rem;
    border-radius: 15px;
    background: rgba( 255, 255, 255, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: relative;
    z-index: 1;
}

/* Login Specific Styles */
.login .auth-container {
    max-width: 300px;
    /* Adjust the width of the container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Signup Specific Styles */
.signup .auth-container {
    max-height: none;
    /* Override any max-height */
}

.signup .form-group {
    margin-bottom: 1.5rem;
}

.auth-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.auth-form h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.0rem;
    color: #008F28;
    font-weight: 600;
}

.form-group {
    margin-bottom: 1rem;
}

.input-field {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-size: 1rem;
    color: #495057;
}

.input-field:focus {
    outline: none;
    border-color: #008F28;
    box-shadow: 0 0 0 0.2rem rgba(0, 143, 40, 0.25);
}

.submit-btn {
    width: 100%;
    padding: 0.75rem;
    background-color: #008F28;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
}

.submit-btn:hover {
    background-color: #007722;
}

.success-message {
    color: green;
    background-color: #e8f5e9;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
  }

@media (max-width: 768px) {

    .login-page,
    .signup-page {
        flex-direction: column;
    }

    .login-right,
    .signup-right {
        display: none;
    }
}
