.login-page {
  display: flex;
  height: 100vh; 
}

.login-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%; 
  background-color: #F5F5F5;
}

.auth-container.login {
  max-width: 300px; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-right {
  width: 50%; 
}

.login-image {
  height: 100%;
  background-size: cover;
  background-position: center;
}
